<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Goal Tracker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Serif+Caption:ital@0;1&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body> 
  <nav><a href="/login" id="logo"><h1 class="display-font">Goal Tracker</h1></a>
    <div class="navlink"><a id="loginButton" class="text-font" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" class="text-font" href="/signup">Sign up</a></div>
  </nav>
  
  <section id="content">

  </section>

  <!--TODO: update UI-->
  <div id="domoMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>