/* pallet: https://coolors.co/7360d4-8bb67b-ffc857-db4545-352d39-ededed */

/* Imported font classes */
/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 200 to 1000 */

.text-font {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
.header-font-regular {
    font-family: "PT Serif Caption", serif;
    font-weight: 400;
    font-style: normal;
}
  
.header-font-italic {
    font-family: "PT Serif Caption", serif;
    font-weight: 400;
    font-style: italic;
}
  
.display-font {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(69, 64, 72);
}

h1 {
    color: #ededed;
}

h2 {
    color: #ededed;
}

#logo {
    text-decoration: none;
    float: left;
    margin-left: 10px;
}

nav {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(115, 96, 212);
    align-items: center;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-left: 20px;
    color: #ededed;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: rgb(115, 96, 212);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #ededed;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #b3b3b3;
}

.domoForm {
    border: 2px solid #338acc;
    height: 35px;
    width: 900px;
    margin-top:0px;
    padding-top:10px;
    background-color: #55acee;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.domoForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.domoForm input[type=text], .domoForm input[type=number] {
    float:left;
}

.makeDomoSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    color: #ededed;
    text-decoration: none;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
    color: #ededed;
}

.makeDomoSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.mainForm {
    position: absolute;
    height: 350px;
    width: 350px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 50px;
    font-size: 1.2em;
    background-color: rgb(115, 96, 212);
}

.mainForm {
    text-align: center;
}

.mainForm h1 {
    font-size: 200%;
}

.mainForm input[type="text"], input[type="password"] {
    background-color: #ededed;
    caret-color: rgb(69, 64, 72);
    color: rgb(69, 64, 72);
    border-color: rgb(69, 64, 72);
    border-radius: 10px;
    border-width: 4px;
    font-size: 1em;
    width: 180px;
    padding-left: 0.5em;
    margin: 5px;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    /* margin-right: 10px; */
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #ededed;
    border-radius: 5px;
    border-color: rgb(115, 96, 212);
    padding: 3px 0px;
    color: rgb(115, 96, 212);
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: #b3b3b3;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #b3b3b3;
}

/* #user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
} */

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px rgb(255, 200, 87);
}

.hidden {
    display: none;
}

#domoMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#domo {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#domos {
    width: 40%;
    min-width: 400px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.domo {
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.domo:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

.domo > img {
    min-width: 100px;
    min-height: 100px;
}

img.domoFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyDomo {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.domoName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.domoAge {
    float:left;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

h3.domoHeight {
    float:left;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.domo:first-child {
    margin-top: 10px;
}

.domo:last-child {
    margin-bottom:10px;
}

.domoListViewer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}