/* pallet: https://coolors.co/7360d4-8bb67b-ffc857-db4545-352d39-ededed
background: #352d39
white: #EDEDED
purple: #7360d4
green: #8bb67b
yellow: #ffc857
red: #db4545
*/



/* Fonts */
/* Imported font classes */
/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 200 to 1000 */

.text-font {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
.header-font-regular {
    font-family: "PT Serif Caption", serif;
    font-weight: 400;
    font-style: normal;
}
.header-font-italic {
    font-family: "PT Serif Caption", serif;
    font-weight: 400;
    font-style: italic;
}
.display-font {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}

/* General */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #352d39;
}
h1 {
    color: #ededed;
}
h2 {
    color: #ededed;
}
.hidden {
    display: none;
}

/* Navigation */
#logo {
    text-decoration: none;
    float: left;
    margin-left: 10px;
}
nav {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #7360d4;
    align-items: center;
}
nav:nth-child(1) {
    padding-left: 25px;
}
.navlink {
    padding: 5px;
    padding-left: 20px;
    color: #ededed;
    font-size: 1.3em;
    float: left;
}
.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: #7360d4;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #ededed;
    transition: background-color 0.4s ease;
}
.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #b3b3b3;
}

/* Creation form */
#makeGoal {
    display: flex;
    text-align: center;
    position: relative;
    flex-direction: column;
    height: fit-content;
    width: 50vw;
    min-width: 355px;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #7360d4;
    border: 2px solid #ededed;
    border-radius: 10px;
}
#makeGoal * {
    min-width: fit-content;
    flex: 1 0 auto;
}

#dateFormSection {
    display: flex;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: space-between;
    width: 40vw;
}

.goalForm label {
    font-size: 1.2em;
    color: #ededed;
}
.goalForm input[type=text], .goalForm input[type=date] {
    min-width: 276px;
    width: 40vw;
    font-size: 1.5em;
    margin-bottom: 25px;
}
#goalEndDate {
    width: 20vw;
    
}
.goalForm textarea {
    font-size: 1.2em;
    margin-bottom: 25px;
    width: 40vw;
    height: 150px;
    min-height: fit-content;
    resize: vertical;
}

#makeGoalSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 20vw;
    background-color: #ededed;
    border-radius: 2px;
    color: #7360d4;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
    font-size: 1.3em;
}
#makeGoalSubmit, #makeGoalSubmit:link, #makeGoalSubmit:visited, #makeGoalSubmit:hover, .navlink a:active {
    color: #7360d4;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #ededed;
    transition: background-color 0.4s ease;
}
#makeGoalSubmit:hover {
    transition: background-color 0.8s ease;
    background-color: #b3b3b3;
}

/* Log in/sign up form */
.mainForm {
    text-align: center;
    position: absolute;
    height: 350px;
    min-height: fit-content;
    width: 350px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 75px;
    font-size: 1.2em;
    background-color: #7360d4;
    border: 2px solid #ededed;
    border-radius: 10px;
}
.mainForm h1 {
    font-size: 200%;
}
.mainForm input[type="text"], input[type="password"] {
    background-color: #ededed;
    caret-color: rgb(69, 64, 72);
    color: rgb(69, 64, 72);
    border-color: rgb(69, 64, 72);
    border-radius: 10px;
    border-width: 4px;
    font-size: 1em;
    width: 180px;
    padding-left: 0.5em;
    margin: 5px;
}
.mainForm label {
    display: inline-block;
    width: 100px;
    /* margin-right: 10px; */
    text-align: right;
    font-size: 1.2em;
}
#signupForm {
    padding-bottom: 120px;
}
.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #ededed;
    border-radius: 5px;
    border-color: #7360d4;
    padding: 3px 0px;
    color: #7360d4;
    text-decoration: none;
    cursor: pointer;
}
.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: #352d39;
}
.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #b3b3b3;
}
/* #user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
} */
#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #ffc857;
}

/* Error message */
#errorModal {
    z-index: 1;
    background-color: #db4545;
    border: 2px solid #7360d4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    margin-top: 20px;
    height: 75px;

}
#goalForm #errorModal {
    flex-grow: 1;
    margin-bottom: -16px;
}
#errorMessage {
    padding: 5px;
    font-weight: bold;
    color: #ededed;
    font-style: italic;
}
#close {
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    color: #ededed
}

/* Goal list (populated) */
#goals {
    width: 60vw;
    min-width: fit-content;
    /* border: 2px solid #55acee; */
    /* border-radius: 4px; */
    margin: 0 auto;
    margin: 20vw;
}
#goals > h2 {
    text-align: center;
}
.goalListViewer {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.goal {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #f2f0ff;
    border: 4px solid #7360d4;
    border-radius: 10px;
    color: #352d39;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}
.goal:last-child {
    margin-bottom:10px;
}
/* .goal:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
} */
.goalTitle {
    font-size: 1.5em;
}

/* Empty goals */
h3.emptyGoal {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
    color: #db4545;
}
